<style>  
  .custom-whatsapp {  
    position: fixed;  
    bottom: 40px;  
    right: 40px;  
    width: 60px;  
    height: 60px;  
    background-color: #25d366;  
    color: #FFF;  
    border-radius: 50%;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  
    z-index: 1000;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    text-decoration: none;  
    overflow: hidden;
  }  
  
  .custom-whatsapp svg {  
    width: 28px;  
    height: 28px;  
    fill: white;  
  }  
  
  @media(max-width:768px){  
    .custom-whatsapp {  
      width: 55px;  
      height: 55px;  
      bottom: 20px;  
      right: 20px;  
    }  
  
    .custom-whatsapp svg {  
      width: 24px;  
      height: 24px;  
    }  
  }  
</style>  

{% if section.settings.show_whatsapp %}
<a href="https://wa.me/message/UXXAS4WMGCIIP1" class="custom-whatsapp" target="_blank" aria-label="Chat on WhatsApp">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16 0c-8.837 0-16 7.163-16 16 0 2.821.735 5.577 2.14 7.996l-2.149 7.781 8.006-2.096c2.365 1.291 5.048 1.987 7.827 1.987 8.837 0 16-7.163 16-16s-7.163-16-16-16zM23.108 22.002c-.274.771-1.383 1.423-2.25 1.62-.599.14-1.377.253-4.005-.853-3.362-1.396-5.537-4.823-5.707-5.04-.165-.218-1.361-1.81-1.361-3.454s.861-2.45 1.165-2.784c.303-.334.666-.418.891-.418s.445.004.64.012c.208.01.482-.078.752.573.274.665.936 2.298 1.017 2.465.082.166.137.365.028.583-.108.218-.165.364-.325.557-.16.193-.34.426-.485.572-.16.16-.325.334-.14.654.186.32.828 1.364 1.775 2.208 1.22 1.092 2.244 1.433 2.57 1.594.325.162.514.135.708-.084.186-.218.81-.945 1.028-1.27.218-.326.436-.271.73-.162.303.109 1.914.902 2.244 1.067.334.165.558.25.64.387.082.13.082.754-.192 1.525z" />
  </svg>
</a>
{% endif %}

{% schema %}
{
"name": "Whatsapp Button",
"settings": [
{
"type": "checkbox",
"id": "show_whatsapp",
"label": "Show Whatsapp",
"default": true
},
{
"type": "text",
"id": "whatsapp_number",
"label": "Please Enter Your Phone Number"
},
{
"type": "text",
"id": "whatsapp_msg",
"label": "Please Enter Your Msg"
}
],
"presets":[
{
"name":"WSP - Whatsapp Button"
}
]
}
{% endschema %}