{% assign products = collections['clothes-and-accessories'].products | slice: 0, 3 %}

<style>
  body, html {
    margin: 0;
    padding: 0;
    background-color: #0c1016;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 80%;
    max-width: 20rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
  }

  .item {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    animation: animateImages 9s infinite ease-in-out;
  }

  .column-1 .item-1 { height: 4rem; animation-delay: 0s; }
  .column-1 .item-2 { height: 6rem; animation-delay: 0.2s; }
  .column-1 .item-3 { height: 3rem; animation-delay: 0.3s; }
  .column-2 .item-1 { height: 4rem; animation-delay: 0s; }
  .column-2 .item-2 { height: 9rem; animation-delay: 0.2s; }
  .column-2 .item-3 { height: 3rem; animation-delay: 0.3s; }
  .column-3 .item-1 { height: 6rem; animation-delay: 0.1s; }
  .column-3 .item-2 { height: 5rem; animation-delay: 0.05s; }
  .column-3 .item-3 { height: 3rem; animation-delay: 0.3s; }

  @keyframes animateImages {
    0%, 30% {
      background-image: url('https://assets.codepen.io/907368/slider-1.jpg?format=webp&quality=40');
    }
    33%, 63% {
      background-image: url('https://assets.codepen.io/907368/slider-2.jpg?format=webp&quality=40');
    }
    66%, 96% {
      background-image: url('https://assets.codepen.io/907368/slider-3.jpg?format=webp&quality=40');
    }
    100% {
      background-image: url('https://assets.codepen.io/907368/slider-1.jpg?format=webp&quality=40');
    }
  }
</style>

<div class="container">
  <div class="column column-1">
    <div class="item item-1"></div>
    <div class="item item-2"></div>
    <div class="item item-3"></div>
  </div>
  <div class="column column-2">
    <div class="item item-1"></div>
    <div class="item item-2"></div>
    <div class="item item-3"></div>
  </div>
  <div class="column column-3">
    <div class="item item-1"></div>
    <div class="item item-2"></div>
    <div class="item item-3"></div>
  </div>
</div>

